body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(197, 212, 212);
    padding: 0;
    margin: 0; 
    height: 100vw;
}

.intro {
    width: 350px;
    height: auto;
    background: white;
    margin: auto;
    padding: 30px 30px 30px 30px;
    border: 3px solid darkslategray;
    border-radius: 4px;
    text-align: center;
    clear: both;
}

.profil p {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
}

.profil h3 {
    text-align: center;
}

.karya ol {
    width: 400px;
    height: auto;
    margin: auto;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    border: 3px dotted darkslategray;
    border-radius: 3px;
    clear: both;
}

.karya h3 {
    text-align: center;
}

.quote {
    font-style: oblique;
    text-align: center;
    font-size: 15px;
    color: rebeccapurple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.video {
    width: 600px;
    height: 400px;
    margin: auto;
}

a {
    border: 1px  solid black;
    width: 100px;
    text-align: center; 
    border-radius: 3px; 
    background-color: lightgray; 
    margin: 150px;
}

a:hover {
    font-size: 20px;
    background: seashell;
}